<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Create Account | Stake Wats IV: Attack of the Transactions</title>
  <link rel="stylesheet" href="assets/css/style.min.css">
  <script src="https://unpkg.com/htmx.org@1.9.10"
    integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
    crossorigin="anonymous"></script>

</head>

<body>
  <main>
    <aside id="content">
      <div class="panel" id="#content__container">
        <h1>Create Account</h1>
        <form hx-post="/create_account" method="post" id="create_account" hx-swap="innerHTML">
          <label for="username">Account Name (<code>.statelessnet</code>)</label>
          <input type="text" name="account_id" id="account_id" placeholder="<account_id>.statelessnet" required>
          <label for="public_key">Public Key</label>
          <input type="text" name="public_key" id="public_key" placeholder="ed25519:..." required>
          <input type="submit" value="Create Account">
        </form>
      </div>
    </aside>
  </main>
</body>

</html>